In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("PySpark_codingChallenge").getOrCreate()
df_pyspark=spark.read.csv("/Users/ajaychaudhary/jupyter/PySpark/test.csv",header=True,inferSchema=True)
df_pyspark.show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/12 11:14:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+-------+------------+------+
|   name|  department|salary|
+-------+------------+------+
| Chandu|Data Science| 50000|
|Rashmi |         IOT| 75000|
|  Rohit|    Big Data| 55000|
| Rohit |    Big Data| 80000|
|  Ronit|         IOT| 60000|
|  Ronit|Data Science| 70000|
| Chandu|Data Science| 45000|
|Krishna|    Big Data| 65000|
| Rashmi|    Big Data| 85000|
|  Rohit|         IOT| 60000|
+-------+------------+------+

In [2]:
#groupby using sum() function
df_pyspark.groupBy("department").sum("salary").show()

+------------+-----------+
|  department|sum(salary)|
+------------+-----------+
|         IOT|     195000|
|    Big Data|     285000|
|Data Science|     165000|
+------------+-----------+

In [3]:
df_pyspark.groupBy("department").min("salary").show()

+------------+-----------+
|  department|min(salary)|
+------------+-----------+
|         IOT|      60000|
|    Big Data|      55000|
|Data Science|      45000|
+------------+-----------+

In [4]:
df_pyspark.groupBy("department").max("salary").show()

+------------+-----------+
|  department|max(salary)|
+------------+-----------+
|         IOT|      75000|
|    Big Data|      85000|
|Data Science|      70000|
+------------+-----------+

In [5]:
df_pyspark.groupBy("department").avg("salary").show()

+------------+-----------+
|  department|avg(salary)|
+------------+-----------+
|         IOT|    65000.0|
|    Big Data|    71250.0|
|Data Science|    55000.0|
+------------+-----------+

In [6]:
df_pyspark.groupBy("department").mean("salary").show()

+------------+-----------+
|  department|avg(salary)|
+------------+-----------+
|         IOT|    65000.0|
|    Big Data|    71250.0|
|Data Science|    55000.0|
+------------+-----------+

In [7]:
df_pyspark.groupBy("department").count().show()

+------------+-----+
|  department|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    4|
|Data Science|    3|
+------------+-----+

In [8]:
df_pyspark.groupBy("department").pivot("Name").sum("salary").show()

+------------+------+-------+------+-------+-----+------+-----+
|  department|Chandu|Krishna|Rashmi|Rashmi |Rohit|Rohit |Ronit|
+------------+------+-------+------+-------+-----+------+-----+
|         IOT|  NULL|   NULL|  NULL|  75000|60000|  NULL|60000|
|    Big Data|  NULL|  65000| 85000|   NULL|55000| 80000| NULL|
|Data Science| 95000|   NULL|  NULL|   NULL| NULL|  NULL|70000|
+------------+------+-------+------+-------+-----+------+-----+

In [9]:
df_pyspark.sort("salary").show()

+-------+------------+------+
|   name|  department|salary|
+-------+------------+------+
| Chandu|Data Science| 45000|
| Chandu|Data Science| 50000|
|  Rohit|    Big Data| 55000|
|  Ronit|         IOT| 60000|
|  Rohit|         IOT| 60000|
|Krishna|    Big Data| 65000|
|  Ronit|Data Science| 70000|
|Rashmi |         IOT| 75000|
| Rohit |    Big Data| 80000|
| Rashmi|    Big Data| 85000|
+-------+------------+------+

In [10]:
#alternatively orderBy can be used to sort based on single column
df_pyspark.orderBy("salary").show()

+-------+------------+------+
|   name|  department|salary|
+-------+------------+------+
| Chandu|Data Science| 45000|
| Chandu|Data Science| 50000|
|  Rohit|    Big Data| 55000|
|  Ronit|         IOT| 60000|
|  Rohit|         IOT| 60000|
|Krishna|    Big Data| 65000|
|  Ronit|Data Science| 70000|
|Rashmi |         IOT| 75000|
| Rohit |    Big Data| 80000|
| Rashmi|    Big Data| 85000|
+-------+------------+------+

In [11]:
#for dropping
df_pyspark1=spark.read.csv("/Users/ajaychaudhary/jupyter/PySpark/null_values_test.csv",header=True,inferSchema=True)
df_pyspark1.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
|   Ravi |  28|         5| 60000|
|  Priya |  35|      NULL| 75000|
|   Arun |  40|        12| 85000|
|   Neha |NULL|      NULL| 55000|
| Suresh |  45|        18| 90000|
|Deepika |NULL|      NULL| 65000|
| Rajesh |  30|         8| 70000|
|  Meera |NULL|      NULL| 50000|
| Sanjay |  38|        15| 80000|
|  Anita |NULL|        10| 60000|
+--------+----+----------+------+

In [12]:
#Dropping rows based on null values
df_pyspark1.na.drop().show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|  Ravi | 28|         5| 60000|
|  Arun | 40|        12| 85000|
|Suresh | 45|        18| 90000|
|Rajesh | 30|         8| 70000|
|Sanjay | 38|        15| 80000|
+-------+---+----------+------+

In [13]:
#filling missing values with 0
df_pyspark1.na.fill('Missing Values').show()
df_pyspark1.na.fill(0).show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
|   Ravi |  28|         5| 60000|
|  Priya |  35|      NULL| 75000|
|   Arun |  40|        12| 85000|
|   Neha |NULL|      NULL| 55000|
| Suresh |  45|        18| 90000|
|Deepika |NULL|      NULL| 65000|
| Rajesh |  30|         8| 70000|
|  Meera |NULL|      NULL| 50000|
| Sanjay |  38|        15| 80000|
|  Anita |NULL|        10| 60000|
+--------+----+----------+------+

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|   Ravi | 28|         5| 60000|
|  Priya | 35|         0| 75000|
|   Arun | 40|        12| 85000|
|   Neha |  0|         0| 55000|
| Suresh | 45|        18| 90000|
|Deepika |  0|         0| 65000|
| Rajesh | 30|         8| 70000|
|  Meera |  0|         0| 50000|
| Sanjay | 38|        15| 80000|
|  Anita |  0|        10| 60000|
+--------+---+----------+------+